# Don't add to git folder
/satellites/dont-add-to-git/*

# Visual Studio temp files
*.vs
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
